<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DelegatesProtocols.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>13AB87061D91AAEA0090F272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13AB871A1D91AAEA0090F272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13AB87251D91AAEA0090F272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
